header {
  color: white;
  text-align: center;
  text-shadow: 5px 5px 5px #0E0000;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url("comedy.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px;
}

.text-muted {
  color: white;
}

header h1 {
  font-size: 5rem;
}

body {
  background-color: black;
}

.list-cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 16px;


  li {
    border-radius: 5px;
    margin: 0px;
    background: transparent center/cover;
  }

  a:hover {
    position: relative;
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px 2px rgba(209, 209, 209, 0.4);
  }
}

h1, h2 {
  color: white;
}

body {

  a {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    height: 200px;
    width: 200px;
    margin-right: 8px;
    padding-top: 130px;
    text-decoration: none;
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.4));
  }
}

.add-list {
  border: 4px dashed rgba(255, 255, 255, 0.2);
  position: relative;

  a {
    background: none;
    margin: -4px;
    color: rgba(255, 255, 255, 0.5);
  }

  a:before {
    content:"+";
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    text-align: center;
    font-size: 4.5rem;
    color: rgba(255,255,255,0.5);
    font-weight: normal;
  }

  a:hover {
    position: relative;
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px 2px rgba(209, 209, 209, 0.4);
  }
}

.movie-tag {
  color: white;
}

.card-img-top {
  width: 100%
}
.card-body {

  p, h5 {
    color: white;
  }
  a {
    width: 23%;
    height: 0%;
    padding-top: 0%;
  }
}

.card-action {
  a {
    width: 45%;
    height: 50%;
    padding-top: 0%;
    display: inline-block;
    text-align: center;
    margin-bottom: 8px;
    font-weight: lighter;
  }
}

.all-lists {
background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.4));
background-size: cover;
background-position: center;

  h1 {
    font-size: 4rem;
    text-shadow: 5px 5px 5px rgba(255,255,255,0.4);
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.big-bookmark {
  width: 100%;
  .add-bookmark {
    color: white;
  }
}
